---
// Images
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const referrals = [
  'Democrazy',
  'Crammerock',
  'Studio Brussel',
  'Cactusfestival',
  'HEAR HEAR',
  'Pukkelpop',
  'Boomtown',
  'Gladiolen',
  'VI.BE',
  'Gent Jazz',
  'Muziekcentrum De Bijloke'
];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="w-full bg-black flex justify-center">
  <div
    class="container text-white py-12 px-4 sm:px-0 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5"
  >
    <section>
      <h3 class="text-xl uppercase mb-4 font-semibold border-b-2 border-white">
        {t('footer.about.title')}
      </h3>
      <Image
        src="/profile.jpg"
        class="w-full mb-4"
        loading="lazy"
        alt="Kevin Meyvaert"
        width={428}
        height={326}
        loading="lazy"
      />
      <p set:html={t('footer.about.bio')} />
    </section>

    <section class="flex flex-col">
      <h3 class="text-xl uppercase mb-4 font-semibold border-b-2 border-white">
        {t('footer.referrals.title')}
      </h3>
      <div class="flex flex-wrap gap-2 items-start mb-8">
        {
          referrals.map((referral) => (
            <span class="border px-2 py-1 rounded">{referral}</span>
          ))
        }
      </div>
    </section>

    <section
      class="self-end text-right justify-self-end md:col-start-2 lg:col-start-3"
    >
      <Image
        src="/logo-white.svg"
        width={80}
        height={55}
        alt="Behangmotief"
        class="inline mb-4"
        loading="lazy"
      />
      <p>
        <a
          href="https://instagram.com/behangmotief/"
          target="_blank"
          class="underline underline-offset-4"
          rel="noreferrer"
        >
          @behangmotief
        </a>
      </p>
      <p>{t('footer.contact.website')}</p>
      <p>
        <a
          href="mailto:hallo@behangmotief.be"
          class="underline underline-offset-4"
        >
          {t('footer.contact.email')}
        </a>
      </p>
      —
      <p>
        BTW BE 0548.755.031
      </p>
    </section>
  </div>
</footer>
