---
import Layout from '../layouts/Layout.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import BlurHashImage from './BlurHashImage.astro';
import Header from './Header.astro';
import { getPhotoSets } from '@/lib/photo-sets';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const photoSets = await getPhotoSets();
---
<Layout title={t('grid.title')} description={t('grid.description')}>
  <Header />
  <div
    class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-0"
  >
    {
      photoSets.map((photoSet) =>
        photoSet.photos.map((photo) => (
          <BlurHashImage
            src={photo.url}
            alt={photoSet.title}
            width={800}
            height={1000}
            blurhash={photo.blurhash}
            class="aspect-[4/5] object-cover w-full"
            loading="lazy"
          />
        ))
      )
    }
  </div>
</Layout> 