---
// Astro components don't need explicit imports for their own components
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
  class="container mx-auto flex justify-center md:justify-start items-center h-[150px]"
>
  <a href={`/${lang}`}>
    <div class="flex items-center">
      <Image
        src="/logo.svg"
        width={80}
        height={55}
        alt="Behangmotief"
        loading="eager"
      />
      <p class="ml-2 text-xs sm:text-sm">{t('nav.photographer.tagline')}</p>
    </div>
  </a>
</header>
