---
import Image from 'astro/components/Image.astro';
import BaseLightbox, { type LightboxImage } from './BaseLightbox.astro';

interface Props {
  imageSrc: string;
  imageAlt: string;
}

const { imageSrc, imageAlt } = Astro.props;

const lightboxImage: LightboxImage = {
  url: imageSrc,
  alt: imageAlt
};
---

<div class="image-lightbox">
  <div class="w-full h-[600px] cursor-zoom-in" data-lightbox-trigger>
    <Image
      src={imageSrc}
      alt={imageAlt}
      class="w-full h-full object-cover"
      width={2500}
      height={1875}
    />
  </div>
  <BaseLightbox
    images={[lightboxImage]}
    enableNavigation={false}
    enableUrlParams={false}
    triggerSelector=".image-lightbox [data-lightbox-trigger]"
  />
</div>