---
import { getLangFromUrl } from '@/i18n/utils';
import { languages } from '../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const route = Astro.url.pathname.replace(`/${lang}`, '');
---

<div class="flex items-center space-x-2">
  {
    Object.entries(languages).map(([code, label]) => (
      <a
        href={`/${code}${route ? `/${route}` : ''}`}
        class:list={[
          'px-3 py-1 rounded-lg transition-colors uppercase text-sm',
          code === lang
            ? 'bg-black text-white font-bold'
            : 'bg-gray-100 text-gray-700 hover:bg-gray-200 font-medium',
        ]}
      >
        {code}
      </a>
    ))
  }
</div>
