---
import Image from 'astro/components/Image.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Navigation from './Navigation.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="absolute top-0 left-0 right-0 z-20 px-4 md:px-0">
  <div class="container mx-auto">
    <div class="flex justify-between items-center h-[150px]">
      <a href={`/${lang}`}>
        <div class="flex items-center">
          <Image
            src="/logo.svg"
            width="80"
            height="55"
            alt="Behangmotief"
            loading="eager"
            class="brightness-0 invert"
          />
          <p class="ml-2 text-xs sm:text-sm text-white">
            {t('nav.photographer.tagline')}
          </p>
        </div>
      </a>
      <Navigation theme="dark" />
    </div>
  </div>
</header>
