---
import { fetcher } from '@/lib/graphql-client';
import { POSTS } from '@/lib/queries';
import PostGrid from './PostGrid.astro';
import type { SearchQuery } from '@/types/wannabes.types';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { Image } from 'astro:assets';

const { posts } = await fetcher<SearchQuery>(POSTS, {
  start: 0,
  limit: 6,
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="w-full bg-black text-white relative">
  <div class="absolute bottom-0 right-0 z-0 hidden md:block">
    <Image
      src="/corner-element.jpg"
      alt=""
      width={350}
      height={350}
      role="presentation"
    />
  </div>
  <div class="absolute bottom-0 left-0 z-0">
    <Image
      src="/corner-element.jpg"
      alt=""
      width={350}
      height={350}
      style="transform: scaleX(-1);"
      role="presentation"
    />
  </div>
  <div class="py-16">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-12 border-b-2 border-white inline-block">
        {t('recent.work')}
      </h2>
      <PostGrid posts={posts.data} loading="lazy" />
    </div>
  </div>
</section>
