---
import { Image } from 'astro:assets';
import { graphqlClient } from '@/lib/graphql-client';
import { POSTS } from '@/lib/queries';
import { formatPostDate } from '@/lib/date';
import type { PostsResponse, SearchVariables, Post } from '@/types/graphql';
import { checkThumbnails } from '@/lib/ownThumbnail';
import { getLangFromUrl, useTranslatedPath } from '@/i18n/utils';
import PostGrid from './PostGrid.astro';

const variables: SearchVariables = {
  start: 0,
  limit: 6,
};

const { posts } = await graphqlClient.request<PostsResponse>(POSTS, variables);

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<section class="w-full bg-black text-white">
  <div class="py-16">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-12 border-b-2 border-white inline-block">
        Recent Work
      </h2>
      <PostGrid posts={posts.data} />
    </div>
  </div>
</section>
